@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about__section__first .team_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (min-width: 568px) {
  .about__section__first .team_container {
    gap: 4rem;
  }
}
.about__section__first .team_container .left__section {
  width: 80%;
  min-width: 18rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 568px) {
  .about__section__first .team_container .left__section {
    width: 50%;
    min-width: 14rem;
    max-width: 24rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__section__first .team_container .left__section {
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
  }
}
.about__section__first .team_container .left__section .left__gradient {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__section__first .team_container .left__section .left__gradient > img {
  width: 80%;
}
.about__section__first .team_container .left__section .left__text {
  height: fit-content;
}
.about__section__first .team_container .left__section .left__text .left__title {
  text-align: center;
  width: 12rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}
.about__section__first .team_container .left__section .left__text .left__title > p {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
}
.about__section__first .team_container .left__section .left__text .left__title > p:after {
  content: "\a";
  white-space: pre;
}
.about__section__first .team_container .left__section .left__text .left__title > p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
  transform-origin: bottom left;
  border-bottom: 3px solid black;
}
.about__section__first .team_container .left__section .left__text .left__content {
  letter-spacing: 2px;
  text-align: justify;
}
.about__section__first .team_container .left__section .left__button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  font-size: 0.8rem;
}
.about__section__first .team_container .left__section .left__button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}
.about__section__first .team_container .right__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  min-width: 14rem;
  max-width: 20rem;
}
@media screen and (min-width: 568px) {
  .about__section__first .team_container .right__section {
    width: 50%;
    min-width: 14rem;
    max-width: 24rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__section__first .team_container .right__section {
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
  }
}
.about__section__first .team_container .right__section .right__1,
.about__section__first .team_container .right__section .right__2,
.about__section__first .team_container .right__section .right__3 {
  width: 100%;
  min-width: 7rem;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal .modal-dialog {
  margin: auto;
  max-width: 90%;
}
@media screen and (min-width: 568px) {
  .modal .modal-dialog {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .modal .modal-dialog {
    width: 60%;
  }
}
.modal .modal-dialog .modal-content {
  background-color: white;
}
.modal .modal-dialog .modal-content .modal-header {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-header::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -40px;
  height: 1px;
  width: 20%; /* or 100px */
  border-bottom: 3px solid black;
}
.modal .modal-dialog .modal-content .modal-header::before {
  bottom: -10px;
}
.modal .modal-dialog .modal-content .modal-body {
  margin-top: 1rem;
  text-align: justify;
  letter-spacing: 3px;
  line-height: 1.2rem;
}

.about__section__second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__section__second .team__desc {
  height: fit-content;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 568px) {
  .about__section__second .team__desc {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .about__section__second .team__desc {
    padding-top: 4rem;
    width: 60%;
    min-height: 100vh;
  }
}
.about__section__second .team__desc .desc__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.about__section__second .team__desc .desc__container .desc__title {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}
.about__section__second .team__desc .desc__container .desc__title::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -40px;
  height: 1px;
  width: 20%; /* or 100px */
  border-bottom: 3px solid black;
}
.about__section__second .team__desc .desc__container .desc__content {
  padding-top: 4rem;
  text-align: justify;
  letter-spacing: 3px;
}
.about__section__second .team__desc .desc__button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  font-size: 0.8rem;
}
.about__section__second .team__desc .desc__button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}

.services__section__first .service__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
@media screen and (min-width: 1024px) {
  .services__section__first .service__text {
    padding-top: 75px;
    min-height: 100vh;
  }
}
@media screen and (min-width: 1280px) {
  .services__section__first .service__text {
    padding-top: 4rem;
  }
}
.services__section__first .service__text .grid__container {
  width: 90%;
  min-width: 18rem;
  max-width: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  padding-bottom: 2rem;
}
@media screen and (min-width: 568px) {
  .services__section__first .service__text .grid__container {
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
    gap: 1rem;
    padding-bottom: 0;
  }
}
.services__section__first .service__text .grid__container .left__bottom,
.services__section__first .service__text .grid__container .right__top {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.services__section__first .service__text .grid__container .right__top {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.services__section__first .service__text .grid__container .left__top > h1 {
  text-align: start;
  color: black;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  position: relative;
}
.services__section__first .service__text .grid__container .left__top > h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 6px;
  width: 100%;
  transform-origin: bottom left;
  border-bottom: 3px solid black;
}
.services__section__first .service__text .grid__container .left__top > h1 > p {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
  font-size: 1rem;
}
.services__section__first .service__text .grid__container .left__top > h1 > p:after {
  content: "\a";
  white-space: pre;
}
.services__section__first .service__text .grid__container .right__bottom {
  text-align: justify;
}
.services__section__first .service__text .grid__container .right__bottom > p {
  font-size: 1rem;
  letter-spacing: 2px;
}
.services__section__first .service__text .grid__container .right__bottom > button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  font-size: 0.8rem;
}
.services__section__first .service__text .grid__container .right__bottom > button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}

.portfolio__section__first .portfolio__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
@media screen and (min-width: 768px) {
  .portfolio__section__first .portfolio__text {
    min-height: 100vh;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio__section__first .portfolio__text {
    padding-top: 4rem;
  }
}
.portfolio__section__first .portfolio__text .grid__container {
  width: 90%;
  min-width: 18rem;
  max-width: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  justify-items: center;
  align-items: center;
  padding-bottom: 2rem;
}
@media screen and (min-width: 568px) {
  .portfolio__section__first .portfolio__text .grid__container {
    width: 50%;
    min-width: 20rem;
    max-width: 30rem;
    gap: 1rem;
    padding-bottom: 0;
  }
}
.portfolio__section__first .portfolio__text .grid__container .left__top,
.portfolio__section__first .portfolio__text .grid__container .right__bottom {
  width: 100%;
  border-radius: 2px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.portfolio__section__first .portfolio__text .grid__container .right__bottom {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.portfolio__section__first .portfolio__text .grid__container .right__top {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}
.portfolio__section__first .portfolio__text .grid__container .right__top > h1 {
  margin: 0;
}
.portfolio__section__first .portfolio__text .grid__container .right__top > h1 > p {
  margin: 0;
  border-bottom: 3px solid black;
}
.portfolio__section__first .portfolio__text .grid__container .left__bottom {
  text-align: justify;
}
.portfolio__section__first .portfolio__text .grid__container .left__bottom > p {
  font-size: 1rem;
  letter-spacing: 2px;
}
.portfolio__section__first .portfolio__text .grid__container .left__bottom > button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  font-size: 0.8rem;
}
.portfolio__section__first .portfolio__text .grid__container .left__bottom > button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}

.portfolio__section__second .portfolio__desc {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 568px) {
  .portfolio__section__second .portfolio__desc {
    min-height: 25rem;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__section__second .portfolio__desc {
    min-height: 100vh;
  }
}
.portfolio__section__second .portfolio__desc .portfolio__container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.portfolio__section__second .portfolio__desc .portfolio__container .portfolio__title {
  text-align: center;
  width: 12rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}
.portfolio__section__second .portfolio__desc .portfolio__container .portfolio__title::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -40px;
  height: 1px;
  width: 20%; /* or 100px */
  border-bottom: 3px solid black;
}
.portfolio__section__second .portfolio__desc .portfolio__container .portfolio__title::before {
  bottom: 5px;
  width: 30%;
  left: 35%;
}
.portfolio__section__second .portfolio__desc .portfolio__container .portfolio__title > p {
  margin: 0;
}
.portfolio__section__second .portfolio__desc .portfolio__container .content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 80%;
}
@media screen and (min-width: 568px) {
  .portfolio__section__second .portfolio__desc .portfolio__container .content__container {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio__section__second .portfolio__desc .portfolio__container .content__container {
    width: 60%;
  }
}
.portfolio__section__second .portfolio__desc .portfolio__container .content__container .portfolio__content {
  width: 100%;
  text-align: justify;
  letter-spacing: 3px;
}
.portfolio__section__second .portfolio__desc .portfolio__container .content__container .portfolio__button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  font-size: 0.8rem;
  margin-top: 2rem;
}
.portfolio__section__second .portfolio__desc .portfolio__container .content__container .portfolio__button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}

.contact__section .contact__container {
  color: black !important;
  height: 60vh;
  justify-content: space-around !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contact__section .contact__container {
    height: 80vh;
  }
}
.contact__section .contact__container .contact__title {
  text-align: center;
}
.contact__section .contact__container .contact__title > h1 {
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 3px;
}
@media screen and (min-width: 768px) {
  .contact__section .contact__container .contact__title > h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact__section .contact__container .contact__title > h1 {
    font-size: 3rem;
  }
}
.contact__section .contact__container .contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 13rem;
}
@media screen and (min-width: 568px) {
  .contact__section .contact__container .contact__content {
    max-width: none;
  }
}
.contact__section .contact__container .contact__content > p {
  text-align: center;
}
.contact__section .contact__container .contact__content .contact__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .contact__section .contact__container .contact__content .contact__links {
    font-size: 3rem;
    gap: 2rem;
    padding: 3rem 0;
  }
}
.contact__section .contact__container .contact__content .contact__links #discord {
  padding: 10px 6px;
}
.contact__section .contact__container .contact__content .contact__links #instagram, .contact__section .contact__container .contact__content .contact__links #twitter {
  padding: 10px 12px;
}
.contact__section .contact__container .contact__content .contact__links #linkedin {
  padding: 8px 12px;
}
.contact__section .contact__container .contact__content .contact__links #youtube {
  padding: 10px 8px;
}
.contact__section .contact__container .contact__content .contact__links > i {
  background: black;
  color: white;
  padding: 8px;
  border-radius: 50%;
  transition: all linear 0.5s;
  cursor: pointer;
}
.contact__section .contact__container .contact__content .contact__links > i:hover {
  opacity: 0.6;
}

.product__section__first .first__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: auto;
  flex-wrap: wrap;
  width: 95%;
  padding: 2rem;
}
@media screen and (min-width: 1024px) {
  .product__section__first .first__container {
    padding: 0;
    width: 90%;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .product__section__first .first__container {
    min-height: 100vh;
  }
}
@media screen and (min-width: 1280px) {
  .product__section__first .first__container {
    padding-top: 4rem;
  }
}
.product__section__first .first__container .grid__container__left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 568px) {
  .product__section__first .first__container .grid__container__left {
    width: 50%;
    min-width: 14rem;
    max-width: 25rem;
  }
}
@media screen and (min-width: 1280px) {
  .product__section__first .first__container .grid__container__left {
    width: 50%;
    min-width: 25rem;
    max-width: 30rem;
  }
}
.product__section__first .first__container .grid__container__left:hover .box {
  opacity: 0.7;
  filter: blur(10px);
}
.product__section__first .first__container .grid__container__left .box {
  cursor: pointer;
  width: 100%;
  min-width: 9rem;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.4s ease-in-out;
}
.product__section__first .first__container .grid__container__left .box:hover {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.1);
}
.product__section__first .first__container .grid__container__left .right__top {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.product__section__first .first__container .grid__container__left .right__bottom {
  background-image: radial-gradient(circle farthest-corner at 10.2% 55.8%, rgb(252, 37, 103) 0%, rgb(250, 38, 151) 46.2%, rgb(186, 8, 181) 90.1%);
}
.product__section__first .first__container .grid__container__left .left__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product__section__first .first__container .grid__container__left .left__top .left__title > h1 {
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  color: black;
  height: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  position: relative;
}
.product__section__first .first__container .grid__container__left .left__top .left__title > h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 6px;
  width: 100%;
  transform-origin: bottom left;
  border-bottom: 3px solid black;
}
.product__section__first .first__container .grid__container__left .left__top .left__title > h1 > p {
  margin: 0;
  text-align: start;
}
.product__section__first .first__container .grid__container__right {
  height: 100%;
  width: 90%;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product__section__first .first__container .grid__container__right:hover {
  cursor: pointer;
  filter: blur(0px);
  transform: scale(1.04);
}
@media screen and (min-width: 568px) {
  .product__section__first .first__container .grid__container__right {
    width: 50%;
    min-width: 14rem;
    max-width: 24rem;
  }
}
@media screen and (min-width: 1280px) {
  .product__section__first .first__container .grid__container__right {
    width: 50%;
    min-width: 25rem;
    max-width: 30rem;
  }
}
.product__section__first .first__container .grid__container__right .grid__container__img {
  max-width: 33rem;
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product__section__third .third__container {
  margin: auto;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .product__section__third .third__container {
    padding-top: 4rem;
    min-height: 100vh;
  }
}
.product__section__third .third__container .products__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.product__section__third .third__container .products__container .products__title {
  max-width: 95%;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}
.product__section__third .third__container .products__container .products__title::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -40px;
  height: 1px;
  width: 20%; /* or 100px */
  border-bottom: 3px solid black;
}
.product__section__third .third__container .products__container .content__container {
  padding-top: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 568px) {
  .product__section__third .third__container .products__container .content__container {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .product__section__third .third__container .products__container .content__container {
    width: 60%;
  }
}
.product__section__third .third__container .products__container .content__container .products__content {
  width: 100%;
  text-align: justify;
  letter-spacing: 3px;
}
.product__section__third .third__container .products__container .content__container .products__button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  font-size: 0.8rem;
  margin-top: 2rem;
}
.product__section__third .third__container .products__container .content__container .products__button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}

.partners__section {
  min-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}
@media screen and (min-width: 1024px) {
  .partners__section {
    min-height: 100vh;
  }
}
@media screen and (min-width: 568px) {
  .partners__section {
    width: 70%;
    padding: 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .partners__section {
    width: 100%;
    padding: 0;
  }
}
.partners__section .partners__one {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transition: 0.4s ease-in-out;
}
.partners__section .partners__one .partners__image {
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.partners__section .partners__one .partners__image > img {
  width: 10rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .partners__section .partners__one .partners__image > img {
    width: 12rem;
  }
}
@media screen and (min-width: 1024px) {
  .partners__section .partners__one .partners__image > img {
    width: 12rem;
  }
}
.partners__section .partners__one:hover {
  height: 23rem;
  transform: scale(1.1);
}
@media screen and (min-width: 1024px) {
  .partners__section .partners__one:hover {
    height: 26rem;
  }
}
.partners__section .partners__one:hover .partners__content .partners__desc {
  transform: translateY(0%);
}
.partners__section .partners__one .partners__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15rem;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .partners__section .partners__one .partners__content {
    height: 20rem;
  }
}
.partners__section .partners__one .partners__content .partners__name {
  position: relative;
  width: 100%;
  margin-top: 3rem;
}
.partners__section .partners__one .partners__content .partners__name > h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .partners__section .partners__one .partners__content .partners__name > h1 {
    font-size: 2rem;
  }
}
.partners__section .partners__one .partners__content .partners__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.4s;
  max-width: 18rem;
}
.partners__section .partners__one .partners__content .partners__desc > p {
  font-size: 1rem;
  text-align: start;
}

.navbar {
  font-family: "Raleway", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 0.6rem;
  background-color: white;
  z-index: 5;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar img {
  width: 4rem;
  transition: all 0.3s linear;
}
.navbar img:hover {
  transform: scale(1.1);
}
.navbar .nav-link.active {
  font-weight: 900;
}
.navbar .navbar-nav {
  gap: 1rem;
}
.navbar .navbar-nav .nav-link {
  border-radius: 1rem;
  transition: all 0.3s linear;
}
.navbar .navbar-nav .nav-link:hover {
  font-weight: 900;
}

body {
  font-family: "Raleway", Geneva, Verdana, sans-serif;
  line-height: 1;
  color: #eee;
  color: black;
  scroll-behavior: smooth;
}

.home__container {
  padding-top: 75px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 568px) {
  .home__container {
    width: 80%;
  }
}
.home__container .text__section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../../assets/images/about_section.png");
  background-position: center 10%;
  background-size: 20rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 568px) {
  .home__container .text__section {
    justify-content: flex-start;
    align-items: center;
    background-position: center right;
    background-size: 40rem;
  }
}
.home__container .text__section > .text__container {
  width: 18rem;
  min-width: 18rem;
}
.home__container .text__section > .text__container > h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}
.home__container .text__section > .text__container > p {
  letter-spacing: 1px;
  line-height: 1.2rem;
  text-align: justify;
}
.home__container .text__section > .text__container .header__button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
}
.home__container .text__section > .text__container .header__button:hover {
  opacity: 0.9;
  border-color: black;
  font-weight: 900;
}

.blur {
  opacity: 0.7;
  filter: blur(10px);
}

section {
  margin-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  section {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
