@import "./base/reset";
@import "./abstracts/mixin", "./abstracts/variables";
@import "./pages/about", "./pages/services", "./pages/portfolio",
  "./pages/contact", "./pages/home", "./pages/products", "./pages/partners";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import "./components/nav";
body {
  font-family: $font-family;
  // font-family: ;
  line-height: 1;
  color: $text-color;
  color: black;
  scroll-behavior: smooth;
} 
.home__container {
  padding-top: 75px;
  // height: 95vh;
  // @include media-sm {
  height: 100vh;
  // }
  overflow: hidden;
  @include centeralizer(row);
  width: 90%;
  margin: auto;
  @include media-sm {
    width: 80%;
  }
  .text__section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url($main-bgImage);
    background-position: center 10%;
    background-size: 20rem;
    @include media-sm {
      justify-content: flex-start;
      align-items: center;
      background-position: center right;
      background-size: 40rem;
    }
    background-repeat: no-repeat;
    & > .text__container {
      width: 18rem;
      min-width: 18rem;
      & > h2 {
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: bolder;
      }
      & > p {
        letter-spacing: 1px;
        line-height: 1.2rem;
        text-align: justify;
      }
      .header__button {
        @include button;
      }
    }
  }
}
.blur { 
  opacity: 0.7;
  filter: blur(10px);
}

section {
  margin-bottom: 4rem;
  @include media-lg {
    margin-bottom: 0;
  }
}
 