// **********************************
// * ABOUT PAGE
// **********************************

.about__section__first {
  .team_container {
    @include centeralizer(row);
    // padding-top: 75px;
    min-height: 100vh;
    margin: auto;
    flex-wrap: wrap;
    gap: 2rem;
    @include media-sm {
      gap: 4rem;
    }
    .left__section {
      width: 80%;
      min-width: 18rem;
      max-width: 20rem;
      @include media-sm {
        width: 50%;
        min-width: 14rem;
        max-width: 24rem;
      }
      @include media-xl {
        width: 50%;
        min-width: 20rem;
        max-width: 30rem;
      }
      @include centeralizer(column);
      .left__gradient {
        height: fit-content;
        @include centeralizer(column);
        & > img {
          width: 80%;
        }
      }
      .left__text {
        height: fit-content;
        .left__title {
          text-align: center;
          width: 12rem;
          height: 3rem;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 3px;
          & > p {
            position: relative;
            margin-bottom: 0;
            z-index: 1;
            &:after {
              content: "\a";
              white-space: pre;
            }
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 6px;
              width: 100%;
              transform-origin: bottom left;
              border-bottom: 3px solid black;
            }
          }
        }
        .left__content {
          letter-spacing: 2px;
          text-align: justify;
        }
      }
      .left__button {
        @include button;
        font-size: 0.8rem;
      }
    }
    .right__section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      gap: 2rem;
      width: 80%;
      min-width: 14rem;
      max-width: 20rem;
      @include media-sm {
        width: 50%;
        min-width: 14rem;
        max-width: 24rem;
      }
      @include media-xl {
        width: 50%;
        min-width: 20rem;
        max-width: 30rem;
      }
      .right__1,
      .right__2,
      .right__3 {
        width: 100%;
        min-width: 7rem;
        border-radius: 5px;
        aspect-ratio: 1/1;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
  }
}

.modal {
  .modal-dialog {
    margin: auto;
    max-width: 90%;
    @include media-sm {
      width: 80%;
    }
    @include media-md {
      width: 60%;
    }
    .modal-content {
      .modal-header { 
        @include title;
        &::before {
          bottom: -10px;
        }
        border-bottom: none;
      }
      background-color: white;
      .modal-body {
        margin-top: 1rem;
        text-align: justify;
        letter-spacing: 3px;
        line-height: 1.2rem;
      }
    }
  }
}

.about__section__second {
  @include centeralizer(column);
  .team__desc {
    height: fit-content;
    margin: auto;
    width: 80%;
    @include media-sm {
      width: 70%;
      // min-height: 100vh;
    }
    @include media-xl {
      padding-top: 4rem;
      width: 60%;
      min-height: 100vh;
    }
    @include centeralizer(column);
    .desc__container {
      @include centeralizer(column);
      justify-content: space-between;
      .desc__title {
        @include title;
      }
      .desc__content {
        padding-top: 4rem;
        text-align: justify;
        letter-spacing: 3px;
      }
    }
    .desc__button {
      @include button;
      font-size: 0.8rem;
    }
  }
}
