// **********************************
// *Contact
// **********************************
.contact__section {
  .contact__container {
    color: black !important;
    height: 60vh;
    justify-content: space-around !important;
    @include media-lg {
      height: 80vh;
    }
    position: relative;
    @include centeralizer(column);
    .contact__title {
      text-align: center;  
      & > h1 {
        font-size: 1.7rem;
        font-weight: 900;
        letter-spacing: 3px;
        @include media-md {
          font-size: 2rem;
        }
        @include media-lg {
          font-size: 3rem;
        }
      }
    }
    // margin-bottom: 5rem;
    .contact__content {
      @include centeralizer(column);
      gap: 2rem;  
      max-width: 13rem;
      @include media-sm {
        max-width: none;  
      }
      & > p {
        text-align: center;
      }
      .contact__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        font-size: 2rem;
        text-align: center;
        @include media-lg {
          font-size: 3rem;
          gap: 2rem;
          padding: 3rem 0;
        }
        #discord {
          // font-size: ;
          padding: 10px 6px;
        }
        #instagram, #twitter {
          padding: 10px 12px;
        }
        #linkedin {
          padding: 8px 12px;
        }
        #youtube {
          padding: 10px 8px;
        } 

        & > i {
          background: black;
          color: white;
          padding: 8px;
          border-radius: 50%;
          transition: all linear 0.5s;
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
