.partners__section {
  min-height: 70vh;
  height: 100%;
  @include centeralizer(row);
  gap: 4rem;
  flex-wrap: wrap;
  @include media-lg {
    min-height: 100vh;
  } 
  width:90%;
  margin: auto;
  padding: 2rem 0;
  @include media-sm { 
    width: 70%;
    padding: 3rem 0;
  }
  @include media-lg { 
    width: 100%;
    padding:0;

  }
  .partners__one { 
    height: 20rem;
    @include centeralizer(column);
    justify-content: flex-start;
    transition: 0.4s ease-in-out; 
    .partners__image {
      transition: all 0.4s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      & > img {
        width: 10rem;
        cursor: pointer;
        @include media-md {
          width: 12rem;
        }
        @include media-lg {
          width: 12rem;
        }
      }
    }
    &:hover {
      height: 23rem;
      // margin: 2rem;
      @include media-lg {
        height: 26rem;
      }
      transform: scale(1.1);
      .partners__content {
        .partners__name {
          & > h1 {
            // left: 36px;
            @include media-lg {
              // left: 0;

            }
          }
        }
        .partners__desc {
          transform: translateY(0%);
        }
      }
    }
    .partners__content {
      @include centeralizer(column);
      justify-content: space-between;
      width: 100%;
      height: 15rem;
      @include media-lg {
        height: 20rem;
      }
      overflow: hidden;
      position: relative;
      .partners__name {
        position: relative;
        width: 100%;
        margin-top: 3rem; 
        & > h1 {
          text-transform: uppercase;
          font-size: 1.5rem;
          transition: all 1s;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include media-lg {
            font-size: 2rem; 
          }
        }
      }
      .partners__desc {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%);
        transition: transform 0.4s;
        max-width: 18rem; 
        & > p {
          font-size: 1rem;
          text-align: start;
        }
      }
    }
  }
}
