.portfolio__section__first {
  
  .portfolio__text {  
    @include centeralizer(column); 
    height: fit-content; 
    @include media-md { 
      min-height: 100vh;
    }
    @include media-xl {
      padding-top: 4rem; 
    }

    .grid__container {
      width: 90%;
      min-width: 18rem;
      max-width: 20rem; 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 0.5rem;
      justify-items: center;
      align-items: center;
      padding-bottom: 2rem;
      @include media-sm {
        width: 50%;
        min-width: 20rem;
        max-width: 30rem;
        gap: 1rem;
        padding-bottom: 0;
      }
      .left__top,
      .right__bottom {
        width: 100%;
        border-radius: 2px;
        aspect-ratio: 1/1;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .right__bottom {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
      }
      .right__top {
        text-align: center;
        width: 100%;

        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 3px;
        & > h1 {
          margin: 0;
          & > p {
            margin: 0;
            border-bottom: 3px solid black;
          }
        }
      }
      .left__bottom {
        // width: 14rem;
        text-align: justify;
        & > p {
          font-size: 1rem;
          letter-spacing: 2px;
        }
        & > button {
          @include button;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.portfolio__section__second {
  .portfolio__desc {
    // height: 100vh;
    // padding: 1rem;
    margin: auto;
    @include media-sm {
      min-height: 25rem;
    }
    @include media-md {
      min-height: 100vh;
    } 
    @include centeralizer(column);
    .portfolio__container {
      height: 60%;
      @include centeralizer(column);
      justify-content: space-between;
      .portfolio__title {
        text-align: center;
        width: 12rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 4px;
        @include title;
        &::before {
          bottom: 5px;
          width: 30%;
          left: 35%;
        }
        & > p {
          margin: 0;
        }
      }
      .content__container {
        @include centeralizer(column);
        padding-top: 2rem;
        width: 80%;
        @include media-sm {
          width: 70%;
        }
        @include media-xl {
          width: 60%;
        }
        .portfolio__content {
          width: 100%;
          text-align: justify;
          letter-spacing: 3px;
          // white-space: pre;
        }
        .portfolio__button {
          @include button;
          font-size: 0.8rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
