// **********************************
// *Projects
// **********************************
// .product__container {
//   @include centeralizer(column);
//   gap: 3rem;
//   color: black;
//   min-height: 100vh;
//   flex-wrap: wrap;
//   width: 100%;
//   padding: 2.5rem 0;
// }
.product__section__first {
  .first__container {
    @include centeralizer(row);
    gap: 5rem;
    margin: auto;
    flex-wrap: wrap;
    width: 95%;
    padding: 2rem;
    @include media-lg {
      padding: 0;
      width: 90%;
      gap: 2rem;
    }
    @include media-lg {
      min-height: 100vh;
    }
    @include media-xl {
      padding-top: 4rem;
    }

    .grid__container__left {
      @include centeralizer(row);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      @include media-sm {
        width: 50%;
        min-width: 14rem;
        max-width: 25rem;
      }
      @include media-xl {
        width: 50%;
        min-width: 25rem;
        max-width: 30rem;
      }
      &:hover .box {
        opacity: 0.7;
        filter: blur(10px);
      }

      .box {
        cursor: pointer;
        width: 100%;
        min-width: 9rem;
        border-radius: 5px;
        aspect-ratio: 1/1;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.4s ease-in-out;
        &:hover {
          opacity: 1;
          filter: blur(0px);
          transform: scale(1.1);
        }
      }
      .right__top {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
      }
      .right__bottom {
        background-image: radial-gradient(
          circle farthest-corner at 10.2% 55.8%,
          rgba(252, 37, 103, 1) 0%,
          rgba(250, 38, 151, 1) 46.2%,
          rgba(186, 8, 181, 1) 90.1%
        );
      }
      .left__top {
        @include centeralizer(column);
        width: 100%;
        .left__title {
          & > h1 {
            width: 90%;
            text-transform: uppercase;
            // padding-left: 0.5rem;
            text-align: center;
            color: black;
            height: 3rem;
            font-weight: 900;
            letter-spacing: 3px;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0px;
              height: 6px;
              width: 100%;
              transform-origin: bottom left;
              border-bottom: 3px solid black;
            }
            & > p {
              margin: 0;
              text-align: start;
            }
          }
        }
      }
    }
    .grid__container__right {
      height: 100%;
      width: 90%;
      transition: 0.4s ease-in-out;
      &:hover {
        cursor: pointer;
        filter: blur(0px);
        transform: scale(1.04);
      }
      @include media-sm {
        width: 50%;
        min-width: 14rem;
        max-width: 24rem;
      }
      @include media-xl {
        width: 50%;
        min-width: 25rem;
        max-width: 30rem;
      }
      @include centeralizer(row);
      .grid__container__img {
        max-width: 33rem;
        width: 100%;
        border-radius: 5px;
        aspect-ratio: 1/1;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
  }
}

.product__section__third {
  .third__container {
    margin: auto;
    min-height: 20rem;
    height: 100%;
    @include media-lg {
      padding-top: 4rem;
      min-height: 100vh;
    }
    @include centeralizer(column);
    .products__container {
      @include centeralizer(column);
      justify-content: space-between;
      .products__title { 
        max-width: 95%; 
        @include title;
      }
      .content__container {
        padding-top: 4rem;
        width: 80%;
        @include media-sm {
          width: 70%;
        }
        @include media-xl {
          width: 60%;
        }
        @include centeralizer(column);
        .products__content {
          width: 100%;
          text-align: justify;
          letter-spacing: 3px;
        }
        .products__button {
          @include button;
          font-size: 0.8rem;
          margin-top: 2rem;
        }
      }
    }
  }
}
