.services__section__first {
  .service__text {
    @include centeralizer(column);
    height: fit-content;
    @include media-lg {
      padding-top: 75px; 
      min-height: 100vh;
    }
    @include media-xl {
      padding-top: 4rem;
    }
    .grid__container {
      width: 90%;
      min-width: 18rem;
      max-width: 20rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 0.5rem;
      justify-items: center;
      align-items: center;
      padding-bottom: 2rem;
      @include media-sm {
        width: 50%;
        min-width: 20rem;
        max-width: 30rem;
        gap: 1rem;
        padding-bottom: 0;
      }
      .left__bottom,
      .right__top {
        width: 100%;
        border-radius: 5px;
        aspect-ratio: 1/1;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      .right__top {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
      }
      .left__top {
        & > h1 {
          text-align: start;
          color: black;
          width: 100%;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 3px;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -20px;
            height: 6px;
            width: 100%;
            transform-origin: bottom left;
            border-bottom: 3px solid black;
          }
          & > p {
            position: relative;
            margin-bottom: 0;
            z-index: 1;
            font-size: 1rem;
            &:after {
              content: "\a";
              white-space: pre;
            }
          }
        }
      }
      .right__bottom {
        // width: 15rem;
        text-align: justify;
        & > p {
          font-size: 1rem;
          letter-spacing: 2px;
        }
        & > button {
          @include button;
          font-size: 0.8rem;
        }
      }
    }
  }
}

 