// **********************************
// * NAV
// **********************************

.navbar {
  font-family: $font-family;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 0.6rem;
  background-color: white;
  // border-bottom: 1px solid black;
  z-index: 5;
  .navbar-toggler {
    border: none;
  }
  img {
    width: 4rem;
    transition: all 0.3s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
  .nav-link.active {
    font-weight: 900;
  }
  .navbar-nav {
    gap: 1rem;
    .nav-link {
      border-radius: 1rem;
      transition: all 0.3s linear; 
      &:hover {
        font-weight: 900;
      }
    }
  }
}

//  Grandparent Class (nav)
// .nav-link.active {
//   font-weight: 900 !important;
//   color: red !important;
// }

// position: relative;
// & > ::after {
//   display: none;
// }
// &:before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   transform: scaleX(0);
//   height: 2px;
//   bottom: 0;
//   left: 0;
//   background-color: black;
//   transform-origin: bottom left;
//   transition: transform 0.25s ease-out;
// }
// &:hover::before {
//   transform: scaleX(1);
//   transform-origin: bottom left;
// }
