// **********************************
// * Mixin
// **********************************
// @mixin bgImage($height, $url) {
//   height: $height;
//   width: 100%;
//   background: url($url);
//   background-position: center center;
//   background-size: cover;
// }

@mixin transition($sec) {
  transition: all $sec linear;
}
@mixin centeralizer($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin button {
  border: 5px solid #7d7c7c;
  border-radius: 2rem;
  min-width: 8rem;
  letter-spacing: 2px;
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  transition: all linear 0.5s;
  z-index: 1;
  opacity: 0.7;
  transition: all 0.2s linear;
  color: black;
  &:hover {
    opacity: 0.9;
    border-color: black;
    font-weight: 900;
  }
}

@mixin title {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  &::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: -40px;
    height: 1px;
    width: 20%; /* or 100px */
    border-bottom: 3px solid black; 
  }
}

@mixin media-xsm {
  @media screen and (min-width: 0px) {
    @content;
  }
}
@mixin media-sm {
  @media screen and (min-width: 568px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin media-2xl {
  @media screen and (min-width: 1536px) {
    @content;
  }
}
