// **********************************
// * Variables
// **********************************

// * Colors
 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
// @font-face {
//   font-family: Glacial-Indifference;
//   src: url(../../assets/fonts/GlacialIndifference-Regular.otf);
// }
// @font-face {
//   font-family: Glacial-Indifference-Bold;
//   src: url(../../assets/fonts/GlacialIndifference-Bold.otf);
//   font-weight: bold;
// }
// @font-face {
//   font-family: Glacial-Indifference-Italic;
//   src: url(../../assets/fonts/GlacialIndifference-Italic.otf) ;
//   font-weight: italic;
// }
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;

// * font

// $font-family: "Poppins", Geneva, Verdana, sans-serif;
$font-family: "Raleway", Geneva, Verdana, sans-serif;
$main-bgImage: "../../assets/images/about_section.png";
$closeBtn: "../../assets/images/close.png";

